# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv_new/
env/
venv/
ENV/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100

# Data & Models
# data/raw/
# data/processed/
*.zip
*.tar.gz

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
temp_docker/
raw_data.zip
data.zip
